- if layout
  - extends "ekklesia_voting/layout.j2.jade"

- block title
  title
    = brand_title
    |&nbsp;-&nbsp;
    = _('ballot')


- block content

  if layout
    h2= _('ballot')

  .ballot.container
    h3
      a(href=self_link)= title

  dl
    dt Start
    dd= starts_at|datetimeformat
    dt End
    dd= ends_at|datetimeformat

  a.btn.btn-primary(href=vote_url) Vote Now!

  if not layout
    hr
