- if layout
  - extends "ekklesia_voting/layout.j2.jade"


- block content

  if back_url and from_redirect
    .alert.alert-primary
      = _("alert_login_first", url=back_url)


  if show_ekklesia_login

    h2= _("title_ekklesia_login", name=ekklesia_login_name)

    a.btn.btn-primary(href=ekklesia_login_url)
      i.fas.fa-sign-in-alt
      |&nbsp;
      = _("button_ekklesia_login", name=ekklesia_login_name)


  if show_internal_login
    hr
    h2 Internal DEV Login

    .alert.alert-danger
      strong= _('warning_development_mode')


    form(action="/login", method="POST")
      p
        label(for="auid") AUID
        input(name="auid", value="nl_voter")

      input(type="submit")

// generated from jade
//- vim: set filetype=jade sw=2 ts=2 sts=2 expandtab:
